
@{
    ViewBag.Title = "AddBeerToBar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Beer Search</h2>


    <div class="form-group">
        <label>Beer Search</label>
        <input id="beer"type="text" value="" class="form-control" />
    </div>
    <button id="search" class="btn btn-primary">Submit</button>
    
    <table id="beers" class="table table-condensed table-hover .table-bordered" border-color='white'>
        <thead>
            <tr>
                <th>Add</th>
                <th>Label</th>
                <th>Beer Name</th>
                <th>ABV</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr></tr>
        </tbody>
    </table>
    <ul id="beersToAdd" class="list-group"></ul>
    <button id="addToDb" class="btn btn-primary">Add to list</button>
    
    


    <script>
        var $beers = $('#beers');

        



        $("#search").on("click", function () {
            var beer = $("#beer").val();
            var yql_url = 'https://query.yahooapis.com/v1/public/yql';
            var url = 'http://myservice.com/data.json';
            var urlStart = "http://api.brewerydb.com/v2/search?q=";
            var urlEnd = "&type=beer&key=0e3a7f468215ab0e24feb0175501b49b";
            var searchUrl = getUrl(beer, urlStart, urlEnd);
            $.ajax({
                'url': yql_url,
                'data': {
                    'q': 'SELECT * FROM json WHERE url="' + searchUrl + '"',
                    'format': 'json',
                    'jsonCompat': 'new',
                },
                'dataType': 'jsonp',
                'success': function (response) {
                    showResults(response);
                    console.log(response);
                },
            });
            
        });

        function showResults(results) {
            var results = results.query.results.json.data;
            var iterations = 10;
            if (results.length < iterations) {
                iterations = fourSquareArray.length;
            }
            for (var i = 0; i < results.length; i++) {
                $beers.append('<tr><td><button id="beer'+i+'"class="btn-link">Add Beer</button></td>'
                +'<td><img src='+(results[i].labels === undefined ? "../Content/nophoto.png" : results[i].labels.medium)+' alt="" border=3 height=100 width=100></img></td>'
                +'<td>' + results[i].name + '</td>'
                +'<td>'+ results[i].abv +' </td>'
                +'<td>'+ results[i].description +' </td></tr>'
                );
            }
        }

        function getUrl(beer, urlStart, urlEnd) {
            parsedUrl = '';
            beer = beer.replace(" ", "+");
            parsedUrl = urlStart + beer + urlEnd;
            return parsedUrl;
        }

      
    </script>     
