@model OnTap.ViewModels.BarGamesAndSportsViewModel
@{
    ViewBag.Title = "AddBarGamesAndSports";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Current Bar Games and Sports Packages</h2>
@if (!Model.Bar.TapBeers.Any() || !Model.Bar.TapBeers.Any())
{
    <text>Sorry, you currently have no Games or Sports Packages</text>
}
else
{
    @Html.Partial("_barsBeers", Model)

}

