@{
    ViewBag.Title = "About";
}
<style>
    body {
        background-image: url("../../Content/images/download.jpeg");
        background-repeat: no-repeat;
        height: 100%;
        width: 100%;
        background-size: cover;
        background-color: rgba(255, 255, 255, 0.5);
        opacity: 50;
    }
</style>
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
