@{
    ViewBag.Title = "Home Page";
}
<style>
    body {
        background-image: url("../../Content/images/image2.jpg");
        background-repeat: no-repeat;
        height: 100%;
        width: 100%;
        background-size: cover;
        background-color: rgba(255, 255, 255, 0.5);
        opacity: 50;
    }
</style>
<div class="container-fluid">
    <br />
    <br />
    <br />
    <center>
        <img src="~/Content/images/OnTap-Logo-Final2.png" class="img-responsive"  height="300" width="1000">
    </center>
</div>

<div class="row">
    
</div>